{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended", // 项目的prettier配置生效
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {}
}
